name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: node
          package-name: "@switchboard-xyz/function-templates"
          token: ${{secrets.GITHUB_TOKEN}}

      - name: Checkout Repository
        if: ${{ steps.release.outputs.releases_created }}
        uses: actions/checkout@v3

      - name: Create Release Artifacts
        shell: bash
        run: |
          cd "./templates" || exit 2
          for d in */; do
            if [[ -d "${d}" ]]; then
                # Remove the trailing slash to get the directory name
                dirname="${d%/}"
                # Zip the directory into an archive
                zip -r "${dirname}.zip" "${dirname}"
                gh release upload  ${{ steps.release.outputs.upload_url }} "${dirname}.zip" --token=${{ secrets.GITHUB_TOKEN }}
            fi
          done

      # - uses: pnpm/action-setup@v2
      #   if: ${{ steps.release.outputs.releases_created }}
      #   with:
      #     version: 8

      # - name: Use Node.js ${{ matrix.node-version }}
      #   if: ${{ steps.release.outputs.releases_created }}
      #   uses: actions/setup-node@v3
      #   with:
      #     node-version: ${{ matrix.node-version }}
      #     cache: "pnpm"

      # - name: Install dependencies
      #   if: ${{ steps.release.outputs.releases_created }}
      #   run: pnpm install

      # - name: Create Release Artifacts
      #   if: ${{ steps.release.outputs.releases_created }}
      #   uses: "./.github/actions/build-release"
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     tag-name: ${{ steps.release.outputs.tag_name }}
      #     upload-url: ${{ steps.release.outputs.upload_url }}
      #     gh-token: ${{ secrets.GITHUB_TOKEN }}
